Source: monodevelop-appmenu
Section: utils
Priority: optional
Maintainer: Nikita Tsukanov <keks9n@gmail.com> 
Uploaders: Nikita Tsukanov <keks9n@gmail.com>
Build-Depends: mono-complete, monodevelop-latest,  mono-xbuild, debhelper, gtk-sharp2 (=2.12.10-9ppa)

Package: monodevelop-appmenu
Architecture: all
Depends: monodevelop-latest
Description: Adds appmenu support to MonoDevelop
 You have disable UBUNTU_MENUPROXY=0 hack to get it working
